# build files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.loa
*.lof
*.log
*.nlo
*.nls
*.out
*.run.xml
*.toc
*.xmpi

# build results
*.dvi
*.pdf
svg/*

# cache and bytecode
.autotex.state
*.pyc

# resources
!logos/*

# tmp files
*~
*.swp
*.vim
